<div class="widget-feed">
	<div class="rss">
		<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
		<a href="https://pxaka.tokyo/blog/feed.xml"><box-icon name='rss' animation='flashing' color="orange"></box-icon></a>
	</div>
	<div class="feedly">
		<a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fpxaka.tokyo%2Fblog%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-small_2x.png' alt='follow us in feedly' width='66' height='20'></a>
	</div>
</div>
