{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		<div class="post__social">
			<div class="hatena">
				<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
			</div>
			<div class="twitter">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="pockets">
				<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
			</div>
		</div>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "amazon_banner.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "gitinfo.html" . }}
	{{ partial "comments.html" . }}
	{{ partial "addthis.html" . }}
</main>
{{ partial "authorbox.html" . }}
{{ partial "post_nav.html" . }}
{{ partial "comments.html" . }}
{{ end }}